.searchInputs{
    margin-top: 1px;
    display: flex;
}

.search input {
    background-color: rgb(209, 209, 209);
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 700px;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}